<div class="container my-5">
      <h1 class="mb-3">Update Issue</h1>
      <div class="row">
            <div class="col-6">
                  <form (ngSubmit)="updateIssue()" [formGroup]="updateIssueForm">
                        <div class="mb-3">
                              <label class="form-label" for="id">Id</label>
                              <input [attr.disabled]="true" class="form-control" formControlName="id" id="id"
                                     type="text">
                        </div>
                        <div class="mb-3">
                              <label class="form-label" for="title">Title</label>
                              <input class="form-control" formControlName="title" id="title" type="text">
                              <div *ngIf="updateIssueForm.get('title')?.invalid && updateIssueForm.get('title')?.touched"
                                   class="text-danger">
                                    Title is required
                              </div>
                        </div>
                        <div class="mb-3">
                              <label class="form-label" for="description">Description</label>
                              <input class="form-control" formControlName="description" id="description" type="text">
                              <div *ngIf="updateIssueForm.get('description')?.invalid && updateIssueForm.get('description')?.touched"
                                   class="text-danger">
                                    Description is required
                              </div>
                        </div>
                        <button [disabled]="updateIssueForm.invalid" class="btn btn-primary" type="submit">Save</button>
                        <button (click)="delete()" class="btn btn-secondary" type="button">Delete</button>
                  </form>
            </div>
      </div>
</div>
